<div id="aboutTmpl" class="container-fluid">
<ng-include src="'/templates/partials/topnav.html'"></ng-include>
<div class="row">
  <ng-include src="'/templates/partials/leftSidebar.html'"></ng-include>
  <div class="col-md-6">
    <h1>About Me</h1>
    I have been a software engineer for 10+ years working on a number of projects both personal and professional. Most of my experience is
    in web technologies including C#, ASP .NET, web APIs, and javascript applications. I love notepad and avoid Microsoft Office.

    I enjoy learning about new and old technologies and am trying to get more involved with open source projects on <a href="https://github.com/cwl157">GitHub</a> (starting
    with making some of my personal projects open source, including this website). I also think I drink too much coffee.
  </div>
  <ng-include src="'/templates/partials/rightSidebar.html'"></ng-include> 
</div>
<ng-include src="'/templates/partials/footer.html'"></ng-include>
</div>