<div id="disclaimerTmpl" class="container-fluid">
<ng-include src="'/templates/partials/topnav.html'"></ng-include>
<div class="row">
        <ng-include src="'/templates/partials/leftSidebar.html'"></ng-include>

    <div class="col-md-6">
            <h3 class="page-header">Disclaimer</h3>
                 <p>This website is provided free of charge. Its use is subject to the terms below:</p>
                 <br />          		
                 <h4>Definitions</h4>
                 <br />
                   <ul>
                      <li>The term "information" refers to all information and data available on this website.  This includes any text, images, and blog posts.</li>
                      <li>The term "Website" refers to this website (https://www.carlserver.com), and any and all pages and content contained within https://www.carlserver.com.</li>
                   </ul>
                   <br />
                   <h4>Terms of Use</h4>
                   <br />        		   
                   <ul>
                      <li>All information is provided "as-is" for your general use only and is subject to change without notice.
                      <li>Use of the information provided by this website comes with the understanding that the information may not be perfect and Carl Layton is not responsible or liabile for any damages
                          (direct, indirect or consequential), personal injury, or expense of any nature by you or any third party, that could have been directly or indirectly caused by the information provided by this website.</li>
                      <li>Carl Layton is not responsible or liable in any way for any content provided by third party sites linked to from this website.</li>
                      <li>All information available on this website comes with no guarantees or warranty and is strictly for use at your own risk.</li>
                   </ul>
            <h3 class="page-header">Privacy Policy</h3>
            <p>This notice informs you of our policies regarding the collection, use and disclosure of personal information from users of the website</p>
            <p>This website does not collect any personal information. Personal information may be displayed on a particular page if comments are made through Disqus. This information is stored by Disqus and displayed on this website.</p>
            <h3 class="page-header">Cookie Policy</h3>
            <p>This website does not use cookies</p>
            <h3 clas="page-header">Change Policy</h3>
            <p>Any of the above policies are subject to change without notice</p>
    </div>
    <ng-include src="'/templates/partials/rightSidebar.html'"></ng-include>
</div>
<!-- Add the extra clearfix for only the required viewport --> <div class="clearfix visible-xs-block"></div>
<ng-include src="'/templates/partials/footer.html'"></ng-include>
</div>