<div id="postTmpl" class="container-fluid">
    <ng-include src="'/templates/partials/topnav.html'"></ng-include>
    <div class="row">
            <ng-include src="'/templates/partials/leftSidebar.html'"></ng-include>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/blog">Blog</a></li>
                    <li ng-if="selectedTag" class="breadcrumb-item"><a href="/blog/tags/{{selectedTag}}">{{selectedTag}}</a></li>
                    <li class="breadcrumb-item active">{{postData.title}}</li>
                </ol>
                <div class="post" id="{{'post'+postData.id}}" ng-if="!error">
                    <div class="post_title"><h4>{{postData.title}}</h4></div>
                    <div class="post_date">
                        <i class="icon-calendar" style="float:left;"></i>
                        <p>
                            {{postData.publishedDate.toLocaleString()}}
                            <ng-include src="'/templates/partials/postShare.html'"></ng-include>
                        </p>
                    </div> <!-- end post_date -->
                    <div class="post_body">
                        <p ng-bind-html="postData.body"></p>
                        <br />
                        <br />
                        <div class="row">
                            <div class="col-xs-6">
                                <a href="{{'/blog/post/'+postData.previousPostUri | uriEncodeString}}" ng-if="postData.previousPostUri !== null">{{postData.previousPostTitle}}</a>
                                <a href="/blog" ng-if="postData.previousPostUri === null">Back to Blog</a>
                            </div>
                            <div class="col-xs-6">
                                <a href="{{'/blog/post/'+postData.nextPostUri | uriEncodeString}}" ng-if="postData.nextPostUri !== null">{{postData.nextPostTitle}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <ng-include src="'/templates/partials/tipJar.html'"></ng-include>
                <br />
                <br />
                <hr />
                <div id="disqus_thread" ng-if="postData"></div>
                <script>

                    /**
                    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

                    var disqus_config = function () {
                        this.page.url = window.location.href;  // Replace PAGE_URL with your page's canonical URL variable
                        this.page.identifier = window.location.pathname; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };

                    (function () { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = 'https://carlserver.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

                <br />

                <div class="loader" ng-if="isLoading"></div>
                <div class="alert alert-danger" ng-if="error">{{error}}</div>
            </div>
            <ng-include src="'/templates/partials/rightSidebar.html'"></ng-include> 
    </div>
    <ng-include src="'/templates/partials/footer.html'"></ng-include>
</div>