  <div class="col-md-4">
     <!--<img src="/img/profilepicture.png" width=50% class="img-rounded" />-->
			 <p style="padding-top:15px;" >My name is Carl.  I live in Chicago.  I am a software developer and technology enthusiast.
                 Thanks for visiting!
				</p>
        <div class="row">
  <h2>Follow Me</h2>
  <hr style="float:left; width:50%;" />
  </div>
        <div class="row">
  <div class="col-xs-1">
  <a
  href="https://twitter.com/carllayton" class="zocial twitter icon"></a>
  </div>
  <div class="col-xs-1">
  <a href="#" class="zocial github icon"></a>
  </div>
  <div class="col-xs-1">
  <a href="#" class="zocial linkedin icon"></a>
  </div>
  <div class="col-xs-1">
  <a href="#" class="zocial googleplus icon"></a>
  </div>
  </div>
  </div>