@using carlserver.blazor.Client.Models
@inject BlogService blogService
 
 
<div class="col-md-3">
    <img src="/img/web1.png" width=25% class="img-rounded" />
    <p style="padding-top:15px;">
        My name is Carl. I am a software engineer and architect. I blog about C#, .NET, Javascript, AngularJS, nodejs, and more.
        Thanks for visiting!
    </p>
    <div class="col-xs-1">
        <a href="https://twitter.com/carllayton" class="zocial twitter icon"></a>
    </div>
    <div class="col-xs-1">
        <a href="https://github.com/cwl157" class="zocial github icon"></a>
    </div>
    <div class="col-xs-1">
        <a href="https://www.linkedin.com/in/carllayton/" class="zocial linkedin icon"></a>
    </div>
      <br />
    <hr />
    <TipJar />
    <hr />
    <TagList Tags="tagData" />
</div>


@code {
    private List<string> tagData = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var blogData = blogService.Posts;

            foreach (PostModel p in blogData)
            {
                foreach (string s in p.Tags)
                {
                    if (p.IsPublished && !tagData.Contains(s))
                    {
                        tagData.Add(s);
                    }
                }
            }
            tagData.OrderBy(t => t);
            //for (s in data.posts[i].tags) {
            //                if ($scope.tags.indexOf(data.posts[i].tags[s]) === -1) {
            //                    $scope.tags.push(data.posts[i].tags[s]);
            //                }
            //            }

            Console.WriteLine("in LeftSidebar OnInitializedAsync");
        }
        catch (Exception e)
        {
            
        }
        //tagData.Add("Test");
        //tagData.Add("Test1");
    }
}
