<div ng-controller="homeCtrl" id="homeTmpl" class="container-fluid">
<ng-include src="'/templates/partials/topnav.html'"></ng-include>
  <div class="row">
  <ng-include src="'/templates/partials/leftSidebar.html'"></ng-include>
  <div class="col-md-6"><h1>Welcome to CarlServer</h1>
  <p>Learn about me and see what I'm up to.</p>

  </div>
  <ng-include src="'/templates/partials/rightSidebar.html'"></ng-include>

    </div>
    <!-- Add the extra clearfix for only the required viewport --> <div class="clearfix visible-xs-block"></div>
</div>




