@page "/about"

<PageTitle>CarlServer-About</PageTitle>
<HeadContent>
    <meta name="description" content="About Carl Layton. The author of carlserver" />
    <meta name="keywords" content="carlserver,about me,carl layton,bio,biography" />
    <meta name="author" content="Carl Layton" />
</HeadContent>

<div class="col-md-8">
    <h1>About Me</h1>
    I have been a software engineer for 10+ years working on a number of projects both personal and professional. Most of my experience is
    in web technologies including C#, ASP .NET, web APIs, and javascript applications. I love notepad and avoid Microsoft Office.

    I enjoy learning about new and old technologies and am trying to get more involved with open source projects on <a href="https://github.com/cwl157">GitHub</a> (starting
    with making some of my personal projects open source, including this website). I also think I drink too much coffee.
  </div>

@code {

}
