@page "/blog"
@inject BlogService blogService
@using carlserver.blazor.Client.Helpers
@using carlserver.blazor.Client.Models

<PageTitle>CarlServer-Blog</PageTitle>
<HeadContent>
    <meta name="description" content="Summaries of blog posts on CarlServer. Topics include angularjs, javascript, csharp, and general programming tutorials, tips, and best practices. Code examples are includes with each blog post." />
    <meta name="keywords" content="blog,tutorials,code examples,programming,carlserver" />
    <meta name="author" content="Carl Layton" />
</HeadContent>

<div class="col-md-8">
@*@if (IsLoading)
{
    <div class="loader"></div>
}*@


    @if (IsError)
    {
        <div class="alert alert-danger">@ErrorMessage</div>
    }
    else
    {
        <PostList Posts="blog" />
    }
</div>

@code {
    private List<PostModel> blog = new List<PostModel>();
    private bool IsError = false;
    private string ErrorMessage = "";

    protected override void OnInitialized()
    {
        try
        {
            var blogData = blogService.Posts;
            foreach (PostModel p in blogData)
            {
                if (p.IsPublished)
                {
                    blog.Add(p);
                }
            }
            blog.Reverse();
        }
        catch (Exception e)
        {
            IsError = true;
            ErrorMessage = "Unable to load blog posts";
        }
    }

    //private string CreatePostUrl(string friendlyUri)
    //{
    //    string url = "";
    //    string encodedUri = StringEncoder.EncodeString(friendlyUri);
    //    Console.WriteLine("encodedString = " + encodedUri);
    //    url = "/blog/post/" + encodedUri;
    //    return url;
    //}

    //private string GetLocalTimeString(Nullable<DateTime> dt)
    //{
    //    if (!dt.HasValue)
    //    {
    //        return "";
    //    }

    //    return dt.Value.ToLocalTime().ToString();
    //}
}