  <div class="col-md-3">
     <img src="/img/web1.png" width=25% class="img-rounded" />
			 <p style="padding-top:15px;" >My name is Carl.  I live in Chicago.  I am a software developer and technology enthusiast.
                 Thanks for visiting!
				</p>
        <div class="row">
          <div class="col-md-4">
  <h3>Follow Me</h3>
  <hr style="" />
          </div>
  </div>
        <div class="row">
  <div class="col-xs-1">
  <a
  href="https://twitter.com/carllayton" class="zocial twitter icon"></a>
  </div>
  <div class="col-xs-1">
  <a href="#" class="zocial github icon"></a>
  </div>
  <div class="col-xs-1">
  <a href="#" class="zocial linkedin icon"></a>
  </div>
  <div class="col-xs-1">
  <a href="#" class="zocial googleplus icon"></a>
  </div>
  </div>
  </div>