<div id="aboutTmpl" class="container-fluid">
<ng-include src="'/templates/partials/topnav.html'"></ng-include>
<p>CarlServer is an experiment to create a functioning web app entirely on an android phone! (I apologize for any typos in advance.)
  <br /><br/>
The app uses angularjs 1.6.x and all source code is available on <a href="#">github.</a>
<br />
<br />
All development environments need developer tools and android is no different. Below is the list of tools I use to create and maintain this site. If you know of other, or better ones, hit me up on <a href="#">twitter.</a>
  <br/>
  <ul>
    <li><a href="#">DroidEdit</a>(Free with ads)</li>
    <li><a href="#">Servers Ultimate Pro</a>(Paid and I think quite expensive but I got it free on an amazon deal)</li>
    <li><a href="#">sGit</a></li>
   </ul>
</p> </div>