<div ng-controller="homeCtrl" id="homeTmpl" class="container-fluid">
<ng-include src="'/templates/partials/topnav.html'"></ng-include>
  <div class="row">
  <div class="col-md-4">.col-md-4</div>
  <div class="col-md-8"><h1>Welcome to CarlServer</h1>
  <div class="row">
  <h2>Follow Me</h2>
  <hr style="float:left; width:50%;" />
  </div>
  <div class="row">
  <div class="col-xs-3">
  <a
  href="https://twitter.com/carllayton" class="zocial twitter icon"></a>
  </div>
  <div class="col-xs-3">
  <a href="#" class="zocial github icon"></a>
  </div>
  <div class="col-xs-3">
  <a href="#" class="zocial linkedin icon"></a>
  </div>
  <div class="col-xs-3">
  <a href="#" class="zocial googleplus icon"></a>
  </div>
  </div>
  </div>
  {{name}}
    </div> 
    <!-- Add the extra clearfix for only the required viewport --> <div class="clearfix visible-xs-block"></div>
</div>
</div>
<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>




