<div ng-controller="webgameCtrl" id="webgameTmpl" class="container-fluid" ng-init="init()">
<ng-include src="'/templates/partials/topnav.html'"></ng-include>
{{name}}
{{id}}
<div ng-if="id == 1">
<ng-include src="'/templates/partials/webgames/asciiinvaders.html'" onload="loadGame(1);"></ng-include>
</div>
<div ng-if="id == 2">
    <ng-include src="'/templates/partials/webgames/brickbuster.html'" onload="loadGame(2);"></ng-include>
    </div>
<div ng-if="id == 3">
    <ng-include src="'/templates/partials/webgames/allenfoodfrenzy.html'" onload="loadGame(3);"></ng-include>
    </div>
</div>