  <div class="col-md-3">
    <img src="/img/web1.png" width=25% class="img-rounded" />
    <p style="padding-top:15px;">
        My name is Carl.  I live in Chicago. I am a software developer and technology enthusiast. I blog about C#, .NET, ASP .NET, .NET Core, Javascript, AngularJS, nodejs, and more.
        Thanks for visiting!
    </p>
    <div class="col-xs-1">
        <a href="https://twitter.com/carllayton" class="zocial twitter icon"></a>
    </div>
    <div class="col-xs-1">
        <a href="https://github.com/cwl157" class="zocial github icon"></a>
    </div>
    <div class="col-xs-1">
        <a href="https://www.linkedin.com/in/carllayton/" class="zocial linkedin icon"></a>
    </div>
    <div class="col-xs-1">
        <a href="https://plus.google.com/+carllayton" class="zocial googleplus icon"></a>
    </div>
      <br />
    <hr />
    <ng-include src="'/templates/partials/tipJar.html'"></ng-include>
    <hr />
      <div ng-if="tags">
    <h3>Tags</h3>
    <ul>
        <li ng-repeat="t in tags"><a href="/blog/tags/{{t | uriEncodeString}}">{{t}}</a></li>
    </ul>
    </div>
</div>